[core]
  editor = vim
  excludesfile = ~/.gitignore_global
[alias]
  co = checkout
  cob = checkout -b
  brD = branch -D
  brm = branch -m
  rhead = reset HEAD
  st = status
  cm = commit -m
  pushdel = push --delete
  mnoff = merge --log --no-ff
[color]
  ui = true
