[user]
	email = florent.vouin@gmail.com
	name = Flo
[core]
	editor = vim
	excludesfile = /Users/flo/.gitignore_global
[alias]
	co = checkout
	cob = checkout -b
	brD = branch -D
	brm = branch -m
	rhead = reset HEAD
	st = status
	cm = commit -m
