[core]
  editor = vim
  excludesfile = ~/.gitignore_global
[alias]
  co = checkout
  cob = checkout -b
  brd = branch -d
  brdelete = branch -D
  lbr = show-branch --list
  brm = branch -m
  rhead = reset HEAD
  st = status
  cm = commit -m
  pushdel = push --delete
  mnoff = merge --log=100 --no-ff
  lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
  lg = !"git lg1"
  logp = log -p
  addp = add -p
  diffst = diff --staged
  mt = mergetool
[color]
  ui = true
[merge]
  tool = vimdiff
  conflictstyle = diff3
[mergetool]
  prompt = false
