#######################################################################
#                      C# comments snippets                           #
#######################################################################

priority -50

#########################
#  Comments             #
#########################

snippet param "param comment tag"
<param name="${1:argName}">${0:description}</param>
endsnippet

snippet returns "returns comment tag"
<returns>${0:returns}</returns>
endsnippet
